<nav id="headerNave" class="navbar navbar-expand-lg navbar-light bg-custom">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" (click)="openCloseSideNav()" class="btn btn-info">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fa fa-user-circle" aria-hidden="true"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Last login : 23 March 2020, 10:30 AM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-power-off" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="openNav()" class="nav-link" href="javascript:void(0)">John</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="editSidenav" class="sidenav">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pull-left">
          <a href="javascript:void(0)" class="close-screen" (click)="closeNav()">
            <span> <i class="fa fa-arrow-left" aria-hidden="true"></i></span>
          </a>
        </div> 
      </div>
      <div class="row">
        <div class="col-lg-12 mt-4">
          <h5>User Details</h5>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="username">First Name</label>
            <input
              type="name"
              class="form-control"
              id="username"
              value="Vishnu Ram"
              placeholder="Enter username"
            />
          </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
              <label for="username">Last Name</label>
              <input
                type="name"
                class="form-control"
                id="username"
                value="Vishnu Ram"
                placeholder="Enter username"
              />
            </div>
          </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="email">Email ID</label>
            <input
              type="email"
              class="form-control"
              id="email"
              readonly
              value="Vishnu@gmail.com"
              placeholder="Enter email"
            />
          </div>
        </div> 
      </div>
       
      <div class="row mt-4">
        <div class="col-lg-12">
          <div class="action-btn pull-right">
  
          
          <button type="button" class="btn cancel mr-2">Cancel</button>
              <button type="button" class="btn submit">Submit</button>
            </div>
        </div>
      </div>
      
      <div class="row mt-3">
        <div class="col-lg-12 mt-4">
            <div class="form-check">
          <h5>
            <input class="form-check-input" (change)="showChangePassword()" type="checkbox" id="autoSizingCheck2">
            Change Password</h5>
        </div>
          <hr />
        </div>
      </div>

      <div class="row" *ngIf="showPass">
        <div class="col-lg-3">
            <div class="form-group">
              <label for="password">Current Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                value="password"
                placeholder="Enter Password"
              />
            </div>
          </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="password">Enter Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              value="password"
              placeholder="Enter Password"
            />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="confirmpassword">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirmpassword"
              value="password"
              placeholder="Enter Confirm Password"
            />
          </div>
        </div> 
        <div class="col-lg-3">
            <div class="form-group mt-5">
                <button type="submit" class="btn btn-primary change"> change</button>
            </div></div>
       </div>
    </div>
  </div>
  