<nav id="sidebar">
  <ul class="list-unstyled components">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  >
  <a  [routerLink]="['/']">Dashboard</a>
    </li> 
  </ul>
</nav>
