
.card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0900FF29;
    border-radius: 4px;
}

.card-body{
    position: relative;
    padding: 10px;
    .rotate{
        position: absolute;
        right: 10px;
    }
    .round{
        width: 45px;
    height: 45px; 
    border-radius: 45px;
    text-align: center;
    padding: 10px;
    }
    .project{
        background: #FFF5D9;
    }
    .workers{
        background: #D8F4FF;
    }
    .respondent{
        background: #FFDEE1;
    }
    .regions{
        background: #DCFAF8;
    }
    h6{
        font: normal normal normal 14px/21px Poppins;
        letter-spacing: 0px;
        color: #000000;
    }
    p{
        font: normal normal bold 14px/18px Poppins;
        letter-spacing: 0px;
        color: #000000;
        margin-bottom: 0;
    }
    h5{
        font: normal normal normal 14px/21px Poppins;
letter-spacing: 0px;
color: #000000;
    }
}

.card-2{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 6px #00000029;
border-radius: 12px;
.card-body{
padding: 0;
}
label{
    text-align: unset;
    font: normal normal normal 14px/21px Poppins;
letter-spacing: 0px;
color: #000000;
}
.row{
    padding: 15px;
}
h4{
    background-color: #00007d;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    a{
        font: normal normal normal 14px/35px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
    }
}
}

.custom-center{
    display: table;
    margin: 0 auto;
}