<div id="manageEmployee" class="sidenav">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pull-left">
          <a href="javascript:void(0)" class="close-screen" (click)="closeNav()">
            <span> <i class="fa fa-arrow-left" aria-hidden="true"></i></span>
          </a>
        </div> 
      </div>
      <div class="row">
        <div class="col-lg-12 mt-4">
          <h5>Employee Management</h5>
          <hr />
        </div>
      </div>
      <div class="row mt-3">
 
        <div class="col-md-auto">
          <button type="button" (click)="showNewUser()" class="btn btn-outline-primary new-user">
            Add New User
          </button>
        </div>  
      </div>

      <div class="row mt-3" *ngIf="showNewUserWindow">
        <div class="col-lg-5 custom-center">
            <div class="card card-2">
                <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      </div>
                    </div>
                </div> 
                <h4>
                         <a href="">  Add User</a> 
                        </h4>
            </div>
        </div>
        </div>
    </div>

        <div class="row mt-4">
            <div class="col-lg-12">
              <table class="table table">
                <thead>
                  <tr class="no-border">
                    <td >User ID </td>
                    <td>User Name </td>
                    <td>User Role </td>
                    <td>Email ID</td>
                    <td>Phone Number</td>
                    <td>Created by</td>
                    <td>Status</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>RE 423</td>
                    <td>Manoj</td>
                    <td>Respondent</td>
                    <td>Manoj@gmail.com</td>
                    <td>8948574838</td>
                    <td>Ram</td>
                    <td>Active</td>
                    <td>
                      <div class="dropleft">
                        <i
                          class="fa fa-ellipsis-v btn"
                          id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        ></i>
        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item"  href="#">View</a>
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Active</a>
                          <a class="dropdown-item" href="#">Inactive</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>RE 423</td>
                    <td>Manoj</td>
                    <td>Respondent</td>
                    <td>Manoj@gmail.com</td>
                    <td>8948574838</td>
                    <td>Ram</td>
                    <td>Active</td>
                    <td>
                      <div class="dropleft">
                        <i
                          class="fa fa-ellipsis-v btn"
                          id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        ></i>
        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">View</a>
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Active</a>
                          <a class="dropdown-item" href="#">Inactive</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>RE 423</td>
                    <td>Manoj</td>
                    <td>Respondent</td>
                    <td>Manoj@gmail.com</td>
                    <td>8948574838</td>
                    <td>Ram</td>
                    <td>Active</td>
                    <td>
                      <div class="dropleft">
                        <i
                          class="fa fa-ellipsis-v btn"
                          id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        ></i>
        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">View</a>
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Active</a>
                          <a class="dropdown-item" href="#">Inactive</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> 
       
    </div>
  </div>