@font-face {
  font-family: Montserrat-SemiBold;
  src: url("Montserrat-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: Poppins;
  src: url("Poppins-Regular.ttf") format("opentype");
}

@font-face {
  font-family: NotoSansTC;
  src: url("NotoSansTC-Regular.otf") format("opentype");
}
