<section>
  <div class="row mt-5">
 
    <div class="col-md-auto">
      <button type="button" (click)="createTaskChild.openModel()" class="btn btn-outline-primary new-user">
        Create New Task
      </button>
    </div> 
    <div class="col-md-auto">
      <button type="button" (click)="employeeChild.openNav()"  class="btn btn-outline-primary new-user">
        Manage Employee
      </button>
    </div> 
  </div>

  <div class="row mt-3">
    <div class="col-lg-3">
      <div class="card"> 
          <div class="card-body">
              <div class="rotate">
                  <div class="round project">
                    <i class="fa fa-tasks task" aria-hidden="true"></i>
              </div>
              </div>
              <h6>Total Task</h6>
              <p class="display-4">134</p>
          </div> 
      </div>
    </div> 
    <div class="col-lg-3">
      <div class="card">
          <div class="card-body">
              <div class="rotate">
                  <div class="round workers">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
              </div>
              </div>
              <h6 >Total Unassign Task</h6>
              <p class="display-4">1,122</p>
          </div>
      </div>
    </div> 
    <div class="col-lg-3">
      <div class="card">
          <div class="card-body">
              <div class="rotate">
                  <div class="round respondent">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
              </div>
              </div>
              <h6 >Completed Task</h6>
              <p class="display-4">1,122</p>
          </div> 
      </div>
    </div> 
    <div class="col-lg-3">
      <div class="card">
          <div class="card-body">
              <div class="rotate">
                  <div class="round regions">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              </div>
              </div>
              <h6>Pending Task</h6>
              <p class="display-4">45</p>
          </div>
      </div>
    </div>  
  </div> 
 
  <div class="row mt-4 filter-field">
    <div class="col-lg-4">
      <div id="form">
        <fieldset>
          <label for="Student">Filter By Date:</label>
          <select class="form-control">
            <option selected>Select</option>
            <option value="1">Today</option>
            <option value="2">Yesterday</option>
            <option value="3">Current Week</option>
            <option value="3">Current Month</option>
          </select>
        </fieldset>
      </div>
    </div> 
  </div>

  <div class="row mt-4">
    <div class="col-lg-12">
      <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
    </div>
  </div>
</section>


<!-- Create New Task modal -->
<app-create-task #createTaskChild></app-create-task>


<!--  -->
<app-manage-employee #employeeChild ></app-manage-employee>