/*
    CUSTOM STYLE
*/

body {
  font-family: "Poppins";
  background: #fafafa;
}

p {
  font-family: "Poppins";
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.bg-custom {
  background-color: #fff;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 225px;
  max-width: 225px;
  background: #00007d;
  color: #fff;
  transition: all 0.3s;
  height: 100%;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 11px;
  background: #fff;
}

#sidebar {
  ul {
    margin-left: 20px;
  }
  li {
    border-bottom: 1px solid #ffffff75;
    position: relative;
    img{
        position: absolute;
        left: -30px;
        top: 10px;
        width: 20px;
    }
  } 
  .custom-top{
    top: 20px;
  }
}

#headerNave{
    ul{
        font-size: 14px;
    }
    .round{
        border-radius: 15px;
    }
}

#sidebar ul.components {
  padding: 20px 0;
  // border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px 0;
  font-size: 14px;
  display: block;
}

#sidebar ul li a:hover {
  color: #fff;
  font-family: "Poppins";
  font-weight: bold;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  font-family: "Poppins";
  font-weight: bold;
  // background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: #fff;
}

#content-container {
  padding: 0 20px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}


// button
.btn-primary {
    color: #fff;
    background-color: #00007D;
    border-color: #00007D;
    box-shadow: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00007D;
    border-color: #00007D;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00007D;
    border-color: #00007D;
}

.btn-primary:focus {
color: #fff;
background-color: #00007D;
border-color: #00007D;
box-shadow: 0 0 0 0.2rem rgba(40, 38, 166, 0.5);
}

.btn-outline-primary{
    color: #000;
    border-color: #707070;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-color: #707070;
}
.btn-outline-primary:hover {
    color: #000;
    background-color: #00968800;
    border-color:#707070;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}



// ****************************** //
//       Custom Page        //
// ****************************** //

.filter {
  font: normal normal normal 14px/21px Poppins;
  padding: 8px 15px;
  border-radius: 4px;
  img {
    margin-right: 8px;
  }
}
.new-user {
  font-size: 10px;
  padding: 10px 15px;

  border-radius: 30px;
}

.search {
  position: relative;
  .form-control {
    border: unset;
    border-bottom: 1px solid #707070;
    padding: 0 50px;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #000000;
  }
  .input-group-prepend {
    position: absolute;
    top: 11px;
    left: 20px;
  }
}

select {
  padding: 0 15px;
  option {
    font: normal normal normal 14px/21px Poppins;
    color: #000000;
  }
}

.dropdown-menu {
  position: absolute;
  // left: -90px !important;
  top: 0 !important;
  max-width: 90px;
  min-width: 90px;
  padding: 0 !important;
  .dropdown-item {
    padding: 5px 10px;
  }
  a:hover {
    background-color: #cacaca;
  }
}

label {
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #000000;
  margin-top: 10px;
  text-align: right;
  clear: both;
  float: left;
  margin-right: 15px;
}
.filter-field {
  .form-control {
    width: 60%;
  }
}

.table {
  .btn {
    padding: 0;
  }
  tbody {
    tr {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 2px #00000029;
    }
  }
  .no-border{
    td {
    border-top: unset !important;
  }
}
}

.table {
  font: normal normal normal 14px/21px Poppins;
  color: #000;
  thead{
    td{
        cursor: pointer;
    }
  }
}





// ****************************** //
//       Custom Side Menu        //
// ****************************** //
// sideNav
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 65px;
  right: 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 27px #00000029;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 20px 0;
  padding-bottom: 75px;
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .close-screen {
    img {
      width: 15px;
      margin-right: 10px;
    }
    span {
      font: normal normal normal 14px/21px Poppins;
      color: #000000;
    }
  }
  .full-screen {
    background: #00007d;
    width: 20px;
    text-align: center;
  }
  h5 {
    font: normal normal 600 16px/25px Poppins;
    color: #000000;
  }
  hr {
    border: 0.30000001192092896px solid #70707014;
    margin-top: 0;
  }
  .form-control {
    padding: 10px;
  }
  label {
    font: normal normal normal 14px/21px Poppins;
    color: #000000;
  }
  .phone-number {
    select {
      padding: 0;
      margin: 0px;
      background: #00007d;
      color: #fff;
      option {
        color: #fff;
      }
    }
    .input-group-prepend {
      width: 55px;
    }
  }
  .sex {
    .input-group-prepend {
      position: absolute;
      right: 5px;
    }
  }
  .Country, .project {
    .form-control {
      padding: 0px;
    }
  }
  .image {
    .form-control {
      padding: 5px;
    }
  }
}

.btn-group {
  width: 100%;
  .btn-inactive {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.10000000149011612px solid #707070;
    border-radius: 0px 8px 8px 0px;
  }
  .btn-active {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.10000000149011612px solid #707070;
    border-radius: 8px 0px 0px 8px;
  }
  .active {
    background: #00007d;
    color: #fff;
  }
  button:hover {
    background: #00007d;
    color: #fff;
  }
}
.add-project{
    font: normal normal normal 14px/40px Poppins;
    letter-spacing: 0px;
    color: #000000;
}

.action-btn{
    .submit{
        background: #60D087 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 6px #00000029;
border-radius: 12px 0px;
color: #fff;
font: normal normal normal 14px/21px Poppins;
padding: 5px 35px;
    }
    .cancel{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 0px 12px;
        color: #FF0000;
        font: normal normal normal 14px/21px Poppins;
        padding: 5px 35px;
    }
}
.check-box{
label{
    font: normal normal normal 14px/21px Poppins;
}
}

.grams{
  position: absolute;
  right: 15px;
}
// @media screen and (max-height: 450px) {
//   .sidenav {
//     padding-top: 15px;
//   }
//   .sidenav a {
//     font-size: 18px;
//   }
// }