<div class="wrapper" *ngIf="router.url != '/login'">
  <!-- Sidebar  -->
  <app-nav></app-nav>

  <!-- Page Content  -->
  <div id="content">
    
    <app-header></app-header> 
     
    <div id="content-container">
      <ng-container *ngTemplateOutlet="template"></ng-container>
  </div>
</div>
</div>

<div class="container-scroller" *ngIf="router.url == '/login'">
  <ng-container *ngTemplateOutlet="template"></ng-container> 
</div>


<ng-template #template>
  <router-outlet>
  </router-outlet>
</ng-template>