<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xl-6 mx-auto">
      <div class="card card-signin flex-row">
        <div class="card-body">
          <div class="row row-custom" *ngIf="!signUpChange">
            <div class="col-lg-12">
              <h5 class="card-title text-center">Sign in</h5>
              <hr />
              <form
                #loginForm="ngForm"
                (ngSubmit)="loginForm.form.valid && doLogin(loginForm.value)"
              >
                <div class="form-row row mt-5">
                  <div class="col-12 mb-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fa fa-user user" aria-hidden="true"></i>
                        </div>
                      </div>
                      <input
                        type="email"
                        class="form-control"
                        [ngClass]="{
                          'is-invalids': loginForm.submitted && email.invalid
                        }"
                        name="email"
                        required
                        ngModel
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        #email="ngModel"
                        placeholder="Mail ID"
                      />
                    </div>
                    <div
                      id="error"
                      *ngIf="loginForm.submitted && email.invalid"
                      class="invalid-feedback d-block"
                    >
                      <div
                        *ngIf="email.errors.required"
                        class="invalid-feedback d-block"
                      >
                        Email is required
                      </div>
                    </div>
                    <div
                      *ngIf="email.errors && (email.touched || email.dirty)"
                      class="invalid-feedback d-block"
                    >
                      <div
                        [hidden]="!email.errors?.pattern"
                        class="invalid-feedback d-block"
                      >
                        Invalid Mail ID
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i
                            class="fa fa-keyboard-o keyboad"
                            aria-hidden="true"
                          ></i>
                        </div>
                      </div>
                      <input
                        [type]="showPassword ? 'text' : 'password'"
                        id="Password"
                        class="form-control"
                        placeholder="Password"
                        [pattern]="selectedPattern"
                        [ngClass]="{
                          'is-invalid': loginForm.submitted && Password.invalid
                        }"
                        name="Password"
                        required
                        ngModel
                        #Password="ngModel"
                      />
                      <i
                        class="show-hide-pass"
                        [ngClass]="
                          showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'
                        "
                        (click)="togglePassword()"
                        aria-hidden="true"
                      ></i>

                      <div
                        *ngIf="
                          (Password.touched && Password.errors) ||
                          (loginForm.submitted && Password.invalid)
                        "
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="Password.errors.required"
                          class="invalid-feedback d-block"
                        >
                          password is required
                        </div>
                        <div
                          *ngIf="Password.errors && Password.errors.pattern"
                          class="invalid-feedback d-block"
                        >
                          Minimum eight characters, at least one letter, one
                          number and one special character required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <a
                      class="no-account"
                      (click)="changeSignUp()"
                      href="javascript:void(0)"
                    >
                      Don't have account?
                    </a>
                  </div>
                  <div class="col-lg-12 mt-3 text-center">
                    <button type="submit" class="btn btn-primary sign-in">
                      Sign In
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row row-custom" *ngIf="signUpChange">
            <div class="col-lg-12">
              <h5 class="card-title text-center">Sign Up</h5>
              <hr />
              <form
                class="form-signin"
                #signInForm="ngForm"
                id="myForm"
                (ngSubmit)="signInForm.form.valid && doSignUp(signInForm.value)"
              >
                <div class="form-row row mt-5">
                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <input
                        type="text"
                        id="firstName"
                        class="form-control"
                        [ngClass]="{
                          'is-invalids':
                            signInForm.submitted && firstName.invalid
                        }"
                        name="firstName"
                        required
                        minlength="4"
                        ngModel
                        #firstName="ngModel"
                        placeholder="First Name"
                        required
                      />
                      <div
                        id="error"
                        *ngIf="signInForm.submitted && firstName.invalid"
                        class="invalid-feedback d-block"
                      >
                        <div
                          *ngIf="firstName.errors.required"
                          class="invalid-feedback d-block"
                        >
                          First Name is required
                        </div>
                        <div
                          *ngIf="firstName.errors.minlength"
                          class="invalid-feedback d-block"
                        >
                          First Name must be at least 4 characters long.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <input
                        type="text"
                        id="lastName"
                        class="form-control"
                        required
                        [ngClass]="{
                          'is-invalids':
                            signInForm.submitted && lastName.invalid
                        }"
                        minlength="5"
                        ngModel
                        name="lastName"
                        #lastName="ngModel"
                        placeholder="Last Name"
                      />
                      <div
                        id="error"
                        *ngIf="signInForm.submitted && lastName.invalid"
                        class="invalid-feedback d-block"
                      >
                        <div *ngIf="lastName.errors.required">
                          Last Name is required
                        </div>
                        <div *ngIf="lastName.errors.minlength">
                          Last Name must be at least 5 characters long.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fa fa-user user" aria-hidden="true"></i>
                        </div>
                      </div>
                      <input
                        type="email"
                        id="mail"
                        class="form-control"
                        placeholder="Email address"
                        [ngClass]="{
                          'is-invalids': signInForm.submitted && mail.invalid
                        }"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        name="mail"
                        required
                        ngModel
                        #mail="ngModel"
                        id="mail"
                      />
                      <div
                        id="error"
                        *ngIf="signInForm.submitted && mail.invalid"
                        class="invalid-feedback d-block"
                      >
                        <div
                          *ngIf="mail.errors.required"
                          class="invalid-feedback d-block"
                        >
                          Mail ID is required
                        </div>
                      </div>
                      <div
                        *ngIf="mail.errors && (mail.touched || mail.dirty)"
                        class="invalid-feedback d-block"
                      >
                        <div
                          [hidden]="!mail.errors?.pattern"
                          class="invalid-feedback d-block"
                        >
                          Invalid Mail ID
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label class="sr-only" for="inlineFormInputGroup"
                      >Password</label
                    >
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i
                            class="fa fa-keyboard-o keyboad"
                            aria-hidden="true"
                          ></i>
                        </div>
                      </div>
                      <input
                        [type]="showPassword ? 'text' : 'password'"
                        id="Password"
                        class="form-control"
                        placeholder="Password"
                        [pattern]="selectedPattern"
                        [ngClass]="{
                          'is-invalid': signInForm.submitted && Password.invalid
                        }"
                        name="Password"
                        required
                        ngModel
                        #Password="ngModel"
                      />
                      <i
                        class="show-hide-pass"
                        [ngClass]="
                          showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'
                        "
                        (click)="togglePassword()"
                        aria-hidden="true"
                      ></i>

                      <div
                        *ngIf="
                          (Password.touched && Password.errors) ||
                          (signInForm.submitted && Password.invalid)
                        "
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="Password.errors.required"
                          class="invalid-feedback d-block"
                        >
                          password is required
                        </div>
                        <div
                          *ngIf="Password.errors && Password.errors.pattern"
                          class="invalid-feedback d-block"
                        >
                          Minimum eight characters, at least one letter, one
                          number and one special character required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label class="sr-only" for="inlineFormInputGroup"
                      >Password</label
                    >
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i
                            class="fa fa-keyboard-o keyboad"
                            aria-hidden="true"
                          ></i>
                        </div>
                      </div>
                      <input
                        [type]="showConfirmPassword ? 'text' : 'password'"
                        id="confirmPassword"
                        class="form-control"
                        placeholder="Confirm Password"
                        [pattern]="selectedPattern"
                        [ngClass]="{
                          'is-invalid':
                            signInForm.submitted && confirmPassword.invalid
                        }"
                        name="confirmPassword"
                        required
                        ngModel
                        #confirmPassword="ngModel"
                      />
                      <i
                        class="show-hide-pass"
                        [ngClass]="
                          showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'
                        "
                        (click)="toggleConfirmPassword()"
                        aria-hidden="true"
                      ></i>
                      <div
                        *ngIf="
                          (confirmPassword.touched && confirmPassword.errors) ||
                          (signInForm.submitted && confirmPassword.invalid)
                        "
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="confirmPassword.errors.required"
                          class="invalid-feedback d-block"
                        >
                          Confirm password is required
                        </div>
                        <div
                          *ngIf="
                            confirmPassword.errors &&
                            confirmPassword.errors.pattern
                          "
                          class="invalid-feedback d-block"
                        >
                          Minimum eight characters, at least one letter, one
                          number and one special character required
                        </div>
                      </div>
                      <div
                        *ngIf="
                          confirmPassword.touched &&
                          confirmPassword.value != Password.value
                        "
                        class="invalid-feedback d-block"
                      >
                        Password mismatch
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <a
                      class="no-account"
                      (click)="changeSignUp()"
                      href="javascript:void(0)"
                    >
                      Already have account?
                    </a>
                  </div>
                  <div class="col-lg-12 mt-3 text-center">
                    <button type="submit" class="btn btn-primary sign-in">
                      Sign Up
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- <div class="card-img-left d-none d-md-flex"  >
              <div class="align-custom">
                <h5>welcome</h5>
                <hr>

                <p >
                  Enter your personal details to start your journey
                </p>

                <button type="button"  class="btn btn-primary">
                  Sign Up
                 </button>
             </div>
            </div> -->
      </div>
    </div>
  </div>
</div>
