.card-signin{
  margin-top: 100px;
  .card-img-left {
    width: 100%;
    position: relative;
    box-shadow: 7px 7px 6px #00000073;
    
    /* Link to your background image using in the property below! */
    background: #090a3a;
    h5 {
      color: #fff;
    }
    p {
      font: normal normal normal 12px/20px Montserrat-SemiBold;
      color: #fff;
    }
    .align-custom {
      position: absolute;
      top: 30%;
      text-align: center;
      left: 60px;
      right: 60px;
    }
    hr {
      background: #fff 0% 0% no-repeat padding-box;
      width: 48px;
      height: 4px;
    }
  }
} 

h5 {
  font: normal normal normal 32px/25px Montserrat-SemiBold;
  color: #090a3a;
}

.card-body {
  padding: 1rem;
  hr {
    background: #090a3a 0% 0% no-repeat padding-box;
    width: 48px;
    height: 4px;
  }
  .row-custom {
    padding: 25px 50px; 
    .form-control { 
      font: normal normal normal 19.18px/23px Poppins;
      color: #000000;
    }
    .form-check-label {
      margin: 1px;
      font: normal normal normal 12.59px/23px Poppins;
      color: #202020;
    }
    .no-account {
      font: normal normal normal 12.59px/27px Poppins;
      color: #202020;
    }
    .sign-in {
      padding: 5px 45px;
      font: normal normal normal 13.79px/20px Poppins;
      border-radius: 30px;
      background-color: #090a3a;
    } 
  }
  .row-custom1 {
    padding: 25px 60px;
  }
}

.policy{
  font: normal normal normal 12.28px/20px Poppins;
  color: #999999;
}

.show-hide-pass {
  cursor: pointer;
  color: #000000;
  position: absolute;
  right: 9px;
  top: 7px; 
  font-size: 22px; 
}

@media all and (max-width: 600px) {
  .card-signin{
    margin-top: 100px;
  }
  h5 {
    font: normal normal 500 25px/25px Montserrat;
  }
  .card-body {
    .row-custom {
      padding: 25px 20px;
    }
  }
}