<div
  class="modal fade"
  id="createTask"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Task</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        #taskData="ngForm"
        id="myForm"
        (ngSubmit)="taskData.form.valid && createTask(taskData.value)"
      >
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Title"
              [ngClass]="{
                'is-invalids': taskData.submitted && title.invalid
              }"
              name="title"
              minlength="5"
              [(ngModel)]="data.title"
              #title="ngModel"
              required
            />
            <div
              id="error"
              *ngIf="taskData.submitted && title.invalid"
              class="invalid-feedback d-block"
            >
              <div
                *ngIf="title.errors.required"
                class="invalid-feedback d-block"
              >
                Title is required
              </div>
              <div
                *ngIf="title.errors.minlength"
                class="invalid-feedback d-block"
              >
                Title must be at least 5 characters long.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              placeholder="Enter Description"
              rows="3"
              [ngClass]="{
                'is-invalids': taskData.submitted && desc.invalid
              }"
              name="desc"
              required
              [(ngModel)]="data.desc"
              #desc="ngModel" 
              maxlength="500"
            ></textarea>
            <div class="the-count">
              <span id="current"> {{
                desc?.viewModel == ""
                  ? 0
                  : desc?.viewModel?.length
              }}</span>
              <span id="maximum"> / 500</span>
            </div>
            <div id="error" *ngIf="taskData.submitted && desc.invalid" class="invalid-feedback d-block">
              <div *ngIf="desc.errors.required" class="invalid-feedback d-block">Description is required</div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Estimates in Days</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Estimates in Days"
                  [ngClass]="{
                    'is-invalids': taskData.submitted && etd.invalid
                  }"
                  name="etd" 
                  [(ngModel)]="data.etd"
                  #etd="ngModel"
                  required
                />
                <div
              id="error"
              *ngIf="taskData.submitted && etd.invalid"
              class="invalid-feedback d-block"
            >
              <div
                *ngIf="etd.errors.required"
                class="invalid-feedback d-block"
              >
              Estimates is required
              </div> 
            </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div id="form">
                <fieldset>
                  <label for="Student">Task Points</label>
                  <select class="form-control"
                  [ngClass]="{
                    'is-invalids': taskData.submitted && point.invalid
                  }"
                  name="point" 
                  [(ngModel)]="data.point"
                  #point="ngModel"
                  required
                  >
                    <option selected >Select</option>
                    <option value="1">100</option>
                    <option value="2">200</option>
                    <option value="3">300</option>
                    <option value="4">400</option>
                    <option value="5">500</option>
                  </select>
                  <div
                  id="error"
                  *ngIf="taskData.submitted && point.invalid"
                  class="invalid-feedback d-block"
                >
                  <div
                  *ngIf="point.errors?.required"
                  class="invalid-feedback d-block"
                >
                Estimates is required
                </div> 
              </div> 
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
